html, body {
    height: 200%;
    max-height: 100%;
}


.card-title {
   color: black;
}






.text-on-card {
   color: black;
}


.card-container {
    background-color: white;
}


.event-card-container {
    background-color: white;
}


.my-card {
    background-color: gray;
}


.my-card:hover {
    background-color: blue;
    border: none;
}


.event-card {
    height: 100%;
}


.title-of-card {
    color : black;
}


.event-item {
    height: 150px;
    text-align: center;
    padding-top: 20%;
    background-color: gray;
    border: 4px double black;
    position: relative;
}


.btn-orange {

   background: url('../image/Plus.svg');
   border:none;
}

.btn-orange:hover {

   background: url('../image/Plus.svg');
   background-color: gray;
   border:none;
}

.my-footer {
   background-color: gray;
}


.info-success {
    background: #228B22;
    background-size: 40px 40px;
    text-align: center;
}

#info {
    display: none;
    position: fixed;
    top: 0px;
    right: 0;
    padding: 15px;
    color: white;
    font-size: 18px;
    z-index: 1;
    width: 100%;
}
