{% extends 'base.html'%}

{% block title %}Образовательный Петербург - Главная{% endblock %}

{% block page %}
<h2> Home </h2>
{% endblock %}


{% block subscribe_1 %}
      <div class="container subscribe-container">
          <div class="row">

            <div class="col-sm-6">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  Подписаться
                </button>
            </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Подпишись на нас</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form method="post">
                            {% csrf_token %}
                            {{form_subscriber.as_p}}
                            <input class="btn-click click_floating" type="submit" value="Подписаться">
                        </form>
                      </div>
                      <!--<div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary">Подписаться</button>
                      </div>-->
                    </div>
                  </div>
                </div>
          <div class="col-sm-6">
          <div class='page-section'>
            <div class='animated-section button-06 page_section_2 section section_container-width_1000' id=''>

                <div class='button-06__inner section__content' style="margin-left: auto; margin-right: auto;">
                    <div class='button-06__content'>
                        <div class='button-06__text-container'>
                        <div class='button-06__text wysiwyg-string'>Хочешь получать информацию с нашего сайта сразу к себе на почту? Подпишись и мы будем присылать самую важную информацию специально для тебя</div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          </div>
              <div class="col-md-4">
              <svg class='button-06__arrow' height='57' viewbox='0 0 133.52 51.69' width='147' xmlns='http://www.w3.org/2000/svg'>
            <title style="margin-left: auto; margin-right: auto;">arrow</title>
            <path d='M7.7 49.82C4.51 48.61.39 14.82 0 12.46a3.24 3.24 0 0 1 3.9-3.55c1.37.35 10.84 13.44 14.44 18 2.13 2.71 8 9.34 8.27 10.19.38 1.23-1 2-2.06 1.37-5.22-2.87-11.43-8.29-12.72-9.28A32.38 32.38 0 0 0 15.62 34c13.07 14.6 35 15.75 52.83 11.48a109.46 109.46 0 0 0 24.48-9.18c13-6.69 23.91-17.7 32.94-29 .93-1.17 1.85-2.35 2.77-3.52s2-3.35 3.6-3.7c1.15-.25 1.46 1.09 1.17 2-1.08 3.35-3.46 6.09-5.55 8.85A107.25 107.25 0 0 1 95.91 39C77 49.76 53.37 55.41 32 49a43.79 43.79 0 0 1-17.38-10.18c-1.85-1.73-3.86-4.32-5.6-6.17.12 1 1.57 18.26-1.32 17.16'></path>
            </svg>
              </div>


            <img src="static/image/shapka.jpg" alt="">
          </div>
      </div>

{% endblock %}

{% block subscribe_2 %}

{% endblock %}

{% block floating_window %}
<div id="info" class="info-success">Ой ой пумба подписывается!
    <button type="button" class="close close_floating" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endblock %}


{% block footer %}
<footer class="footer my-footer">
      <div class="container down_navigation_container" style="position: top: 0px; left: 0px; width:;">
          <div class="row">
              <div class="col-sm-6">
                    <div >
                        <h5>ОБРАЗОВАТЕЛЬНЫЙ ПЕТЕРБУРГ</h5>
                        <h6>Портал для молодежи Санкт-Петербурга, где можно найти бесплатные возможности для развития.</h6>
                        <h6>e-mail: send@piterEdu.ru</h6>
                    </div>
              </div>
             <div class="col-sm-6">
                  <nav class="nav flex-column">
                      <li class="nav-item ">
                        <a class="nav-link" href="/" style="font-size: 15px;">Главная</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/events" style="font-size: 15px;">Мероприятия</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/communities" style="font-size: 15px;">Сообщества</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/rooms" style="font-size: 15px;">Пространства</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/social" style="font-size: 15px;">Общественникам</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/resource" style="font-size: 15px;">Полезные ресурсы</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/projects" style="font-size: 15px;">Наши проекты</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/about" style="font-size: 15px;">О нас</a>
                      </li>
                  </nav>
              </div>

              <div class="col-sm-6">
                  <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Подписаться
                    </button>
              </div>

              </div>
          </div>
          <div class="container footer_container">
    <p class="text-muted">Подпишись на нашу рассылку и получай нашу рассылку на почту</p>
  </div>
</footer>
{% endblock %}




