{% extends 'base.html'%}

{% block title %}Проекты{% endblock %}

{% block page %}
<h2> Projects </h2>
{% endblock %}

{% block name %}
    <h2 align="center">Проекты Образовательного Петербурга</h2>
    <h6 align="center">На данной странице, вы сможете найти наши мероприятия и другие спецпроекты, которые организовываем.</h6>
{% endblock %}

{% block card %}
{% endblock %}


{% block content %}

        <div class="container project-container">
          <div class="row">
            {% for item in  variable_project %}
              <div class="col-sm-6">
                  <h2>{{item.name}}</h2>
                  <div class="project-item">{{item.description}}</div>

                    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="..." class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="..." class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                          <img src="..." class="d-block w-100" alt="...">
                        </div>
                      </div>
                    </div>
              </div>
            {% endfor %}
          </div>
        </div>
{% endblock %}

{% block request %}
{% endblock %}

{% block subscribe_1 %}
{% endblock %}

{% block subscribe_2 %}
{% endblock %}

{% block floating_window %}
<div id="info" class="info-success"> Ой ой пумба подписывается!
    <button type="button" class="close close_alert_window" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endblock %}

