{% extends 'base.html'%}

{% block title %}О нас{% endblock %}

{% block page %}
<h2> about </h2>
{% endblock %}

{% block name %}
    <h2 align="center">О Нас</h2>
    <h6 align="center">История о том, как появилась наша платформа</h6>
{% endblock %}

{% block card %}
{% endblock %}

{% block content %}
<div class="container">
<h5>Как пришла идея?

​В Санкт-Петербурге существует множество интересных и бесплатных событий и тусовок для молодежи. Однако, чтобы их найти не погруженному в определенную тематику человеку, нужно очень сильно постараться. Так как, каждый продвигается по своему и единого портала где собиралась бы вся данная информация нет.

Поэтому мы решили создать такой портал. Где сможем в одном месте собрать:

Образовательные мероприятия  —  различные лекции и семинары, на которых (известные, именитые, разные) спикеры делятся своим опытом с аудиторией. Тематика обширна: от кулинарии до радиоэлектроники.
Молодежные сообщества — сможете найти людей, объединенными общими интересами, начиная со спортивных дебатов, заканчивая волонтерской деятельностью.
Пространства — в Санкт-Петербурге находится множество культурных и креативных пространств, их вы можете посмотреть в нашем разделе.
Общественникам — данный раздел для волонтеров, общественных деятелей и руководителей Некоммерческих организаций.
Полезные ресурсы — как часто вы находили полезный сайт или группу, в которых можно узнать полезную информацию? Мы собираем самые топовые.. и они не теряются.
Кроме того, мы сами организовываем различные события или спецпроекты для молодежи, а также, занимаемся продвижением других мероприятий по все России. Наши проекты можно посмотреть: https://piteredu.ru/projects

Также, мы всегда открыты для взаимодействия и сотрудничества! Если вы планируете интересное мероприятие, хотите стать спикером на наших мероприятиях, знаете сообщество или пространство, которых нету у нас или хотите реализовать совместный проект смело отправляйте заявку нам и мы свяжемся в ближайшее время: https://vk.cc/96VFl0</h5>
    </div>
{% endblock %}

      {% block subscribe %}

      {% endblock %}

{% block subscribe_2 %}
{% endblock %}