{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='/images/004/268/744/4268744/32x32/1441_oooo.plus.png' rel='icon'>
    <link href='/images/004/268/744/4268744/180x180/1441_oooo.plus.png' rel='apple-touch-icon' sizes='180x180'>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{% block title %} Title block {% endblock title %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/test_style.css' %}">

    <!-- JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
      {% block page %}

      {% endblock %}

      {% block navigation %}
        <div class="container nav-container" style="position: top: 0px; left: 0px; width:;">
            <div class="row">
                <div class="col-lg-12">
                  <ul class="nav" style="margin-right: ;">
                      <li class="nav-item ">
                        <a class="nav-link active" href="/" style="font-size: 15px;">Главная</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/events" style="font-size: 15px;">Мероприятия</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/communities" style="font-size: 15px;">Сообщества</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/rooms" style="font-size: 15px;">Пространства</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/social" style="font-size: 15px;">Общественникам</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/resource" style="font-size: 15px;">Полезные ресурсы</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/projects" style="font-size: 15px;">Наши проекты</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/about" style="font-size: 15px;">О нас</a>
                      </li>
                  </ul>
                </div>
            </div>
        </div>
      {% endblock %}


      {% block name %}
       <h2 align="center">Молодежный портал Санкт-Петербурга</h2>
       <h3 align="center">Бесплатные возможности для твоего развития</h3>
      {% endblock %}


      {% block card %}

        <div class="container card-container">
          <div class="row">

            <div class="col-sm-4">
              <a href="/events">
              <div class="card my-card">
                  <!-- Изображение (фон карточки) -->
                  <img class="card-img" style="height: 300px;" src="static/image/Calendar.svg" alt="">
                  <div class="card-img-overlay" style="color:white;font-weight:bold;">Бесплатные мероприятия</div>
              </div><!-- Конец карточки -->
              </a>
            </div>

            <div class="col-sm-4">
              <a href="/communities">
              <div class="card my-card">
                  <!-- Изображение (фон карточки) -->
                  <img class="card-img" style="height: 300px;"  src="static/image/Team.svg" alt="">
                  <div class="card-img-overlay" style="color:white;font-weight:bold;">Молодежные сообщества</div>
              </div><!-- Конец карточки -->
              </a>
            </div>

            <div class="col-sm-4">
              <a href="/rooms">
              <div class="card my-card">
                  <!-- Изображение (фон карточки) -->
                  <img class="card-img" style="height: 300px;" src="static/image/Plan.svg" alt="">
                  <div class="card-img-overlay" style="color:white;font-weight:bold;">Пространства Санкт-Петербурга</div>
              </div><!-- Конец карточки -->
              </a>
            </div>

            <div class="col-sm-4">
              <a href="/social">
              <div class="card my-card">
                  <!-- Изображение (фон карточки) -->
                  <img class="card-img" style="height: 300px;" src="static/image/Group.svg" alt="">
                  <div class="card-img-overlay" style="color:white;font-weight:bold;">Общественникам</div>
              </div><!-- Конец карточки -->
              </a>
            </div>

            <div class="col-sm-4">
              <a href="/resource">
              <div class="card my-card">
                  <!-- Изображение (фон карточки) -->
                  <img class="card-img" style="height: 300px;" src="static/image/Books.svg" alt="">
                  <div class="card-img-overlay" style="color:white;font-weight:bold;">Полезные ресурсы</div>
              </div><!-- Конец карточки -->
              </a>
            </div>

            <div class="col-sm-4">

              <a href="/projects">
              <div class="card my-card">
                  <!-- Изображение (фон карточки) -->
                  <img class="card-img" style="height: 300px;" src="static/image/Timer.svg" alt="">
                  <div class="card-img-overlay" style="color:white;font-weight:bold;">Наши проекты</div>
              </div><!-- Конец карточки -->
              </a>
            </div>

          </div>
        </div>
      {% endblock %}

      {% block content %}

      {% endblock %}

      {% block subscribe %}

      <div class="container subscribe-container">
          <div class="row">

            <div class="col-sm-12">

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  Подписаться
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Подпишись на нас</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                            <form>
                                <div >
                                    <h6>Просто оставьте нам свои контактные данные, и мы будем тебе присылать различную подборку с возможностями для молодежи на почту.
                                    </h6>
                                </div>
                              <div class="form-group">
                                <label for="exampleFormControlTextarea1">Имя</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                              </div>
                              <div class="form-group">
                                <label for="exampleFormControlInput1">Email address</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                              </div>
                            </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary">Подписаться</button>
                      </div>
                    </div>
                  </div>
                </div>

      <div class='page-section'>
        <div class='animated-section button-06 page_section_2 section section_container-width_1000' id=''>

        <div class='button-06__inner section__content'>
        <div class='button-06__content'>


        <svg class='button-06__arrow' height='57' viewbox='0 0 133.52 51.69' width='147' xmlns='http://www.w3.org/2000/svg'>
        <title>arrow</title>
        <path d='M7.7 49.82C4.51 48.61.39 14.82 0 12.46a3.24 3.24 0 0 1 3.9-3.55c1.37.35 10.84 13.44 14.44 18 2.13 2.71 8 9.34 8.27 10.19.38 1.23-1 2-2.06 1.37-5.22-2.87-11.43-8.29-12.72-9.28A32.38 32.38 0 0 0 15.62 34c13.07 14.6 35 15.75 52.83 11.48a109.46 109.46 0 0 0 24.48-9.18c13-6.69 23.91-17.7 32.94-29 .93-1.17 1.85-2.35 2.77-3.52s2-3.35 3.6-3.7c1.15-.25 1.46 1.09 1.17 2-1.08 3.35-3.46 6.09-5.55 8.85A107.25 107.25 0 0 1 95.91 39C77 49.76 53.37 55.41 32 49a43.79 43.79 0 0 1-17.38-10.18c-1.85-1.73-3.86-4.32-5.6-6.17.12 1 1.57 18.26-1.32 17.16'></path>
        </svg>
        <div class='button-06__text-container'>
        <div class='button-06__text wysiwyg-string'>Хочешь получать информацию с нашего сайта сразу к себе на почту? Подпишись и мы будем присылать самую важную информацию специально для тебя</div>
        </div>
        </div>
        </div>
        </div>

      </div>

            </div>
          </div>
      </div>

      <div><img src="static/image/shapka.jpg" alt=""></div>


      {% endblock %}


      {% block subscribe_2 %}

      <div class="container subscribe2-container">
          <div class="row">
            <div class="col-sm-12">
                <div><h1>Как мы можем взаимодействовать? </h1></div>
            </div>
            <div class="col-sm-6">
              <div><h6>Ты эксперт в какой-либо области? Хочешь выступить перед аудиторией?</h6></div>
            </div>
            <div class="col-sm-6">
              <div><h6>Знаешь какое мероприятие не хватает нашему городу?</h6></div>
            </div>
            <div class="col-sm-6">
              <div><h6>Знаешь сообщество, которого у нас нет?</h6></div>
            </div>
            <div class="col-sm-6">
              <div><h6>Может быть у нас нету, какого-то пространства?</h6></div>
            </div>
            <div class="col-sm-6">
              <div><h6>Понимаешь, как мы можем сотрудничать и реализовать совместный проект?</h6></div>
            </div>
            <div class="col-sm-6">
              <div><h6>Хочешь поделиться с другими полезными ресурсами, которые помогают развиваться?</h6></div>
            </div>
            <div class="col-sm-12">
                <div><h1>Заполни заявку, если один из 6 вариантов тебя заинтересовал </h1></div>
            </div>

          </div>
      </div>

      {% endblock %}



      {% block footer %}
      <footer class="footer my-footer">
          <div class="container down_navigation_container" style="position: top: 0px; left: 0px; width:;">
              <div class="row">
                  <div class="col-lg-0">

                      <nav class="nav flex-column">
                          <li class="nav-item ">
                            <a class="nav-link" href="/" style="font-size: 15px;">Главная</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/events" style="font-size: 15px;">Мероприятия</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/communities" style="font-size: 15px;">Сообщества</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/rooms" style="font-size: 15px;">Пространства</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/social" style="font-size: 15px;">Общественникам</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/resource" style="font-size: 15px;">Полезные ресурсы</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/projects" style="font-size: 15px;">Наши проекты</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/about" style="font-size: 15px;">О нас</a>
                          </li>
                      </nav>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                  Подписаться
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Подпишись на нас</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                            <form>
                                <div >
                                    <h6>Просто оставьте нам свои контактные данные, и мы будем тебе присылать различную подборку с возможностями для молодежи на почту.
                                    </h6>
                                </div>
                              <div class="form-group">
                                <label for="exampleFormControlTextarea1">Имя</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
                              </div>
                              <div class="form-group">
                                <label for="exampleFormControlInput1">Email address</label>
                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                              </div>
                            </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary">Подписаться</button>
                      </div>
                    </div>
                  </div>
                    </div>
                  </div>
          </div>
      </div>
          <div class="container footer_container">
            <p class="text-muted">Подпишись на нашу рассылку и получай нашу рассылку на почту</p>
          </div>
      </footer>
      {% endblock %}





    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>