{% extends 'base.html'%}

{% block title %}Страница отдельного ресурса{% endblock %}

{% block page %}
<h2> Страница отдельного ресурса </h2>
{% endblock %}

{% block name %}
{% endblock %}

{% block card %}
    <div class="container">
        <div class="resource-detail">
            <h2 align="center">{{name_resource.name}}</h2>
        </div>
        <div class="resource-detail"><img src="{{name_resource.photo.url}}" alt=""></div>
        <div class="resource-detail">Сайт: <a href="{{name_resource.contacts}}">{{name_resource.contacts}}</a></div>
        <div class="resource-detail">Описание: {{name_resource.description}}</div>
    </div>
{% endblock %}


      {% block subscribe %}

      {% endblock %}

{% block subscribe_2 %}
{% endblock %}