{% extends 'base.html'%}

{% block title %}Страница отдельного пространства{% endblock %}

{% block page %}
<h2> Страница отдельного пространства </h2>
{% endblock %}

{% block name %}
{% endblock %}

{% block card %}
    <div class="container">
        <div class="room-detail">
            <h2 align="center">{{name_room.name}}</h2>
        </div>
        <div class="event-detail"><img src="{{name_room.photo.url}}" alt=""></div>
        <div class="event-detail">Адрес: {{name_room.address}}</div>
        <div class="event-detail">Телефон: {{name_room.phone}}</div>
        <div class="event-detail">Сайт: <a href="{{name_room.contacts}}">{{name_room.contacts}}</a></div>
        <div class="event-detail">Описание: {{name_room.description}}</div>
    </div>
{% endblock %}